.row
  .span6.offset3.well
    %h1 Thank you!
    %p
      We appreciate your interest in the project.
      (You signed up as #{@data.email_signup.email}. If that's incorrect or changes, let us know!)
    %p
      %strong Also please note that we're in the early stages of the project, and this form doesn't actually save anywhere. So just stand by for updates, and we'll update this site to let you know when you can sign up to receive updates by email! (i.e. when this text here is gone).
