@import "bootstrap";

body {
  margin-top: 100px;
}

.well {
  background-color: rgb(250, 250, 250);
}

.form-horizontal {
  .control-label {
    width: 130px;
  }
  .controls {
    margin-left: 150px;
  }
}
